[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = {version = "==1.10.3", extras = ["aws,crypto,kubernetes,postgres,slack"]}

[dev-packages]

[requires]
python_version = "3.7.3"
